body {
  display: flex;
  height: 100vh;
}
#map {
  flex-basis: 100%;
}
#sidebar {
  flex-basis: 40%;
  overflow-y: auto;
  min-width: 260px;
  border-right: 1px solid #ddd;
  padding: 10px;
  font-family: 'SF Mono', SFMono-Regular, ui-monospace, monospace;
  font-size: 14px;
  line-height: 1.5;
}

.tag-table {
  width: 100%;
}
.tag-table td:not(.entity-header) {
  padding: 2px 6px;
  border: 1px solid #ddd;
  overflow-wrap: anywhere;
}
.tag-table tr:not(:first-child) td.entity-header {
  padding-top: 6px;
}
.tag-table td:first-child {
  white-space: nowrap;
}
.tag-table td.entity-header a {
  float: right;
}

@media only screen and (max-width: 600px) {
  body {
    flex-direction: column-reverse;
  }
  #sidebar {
    min-width: none;
    min-height: 200px;
    border-right: 0;
    border-top: 1px solid #ddd;
  }
}